<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Car Purchase Success</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" > 
</head>
<body>
	<div class="container">
		<h1>Congratulations, Your Purchase Succeeded!</h1>
		<table class="table table-striped">
			<tr>
				<td><a th:href="@{'/buy/carlist'}"   class="btn btn-warning">Keep Shopping</a></td>
				<td><a  class="btn btn-danger">Log Out</a></td>
			</tr>
		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
</body>
</html>